@model EntityLayer.Concrete.Project

@{
    ViewBag.Title = "ResumeDemo - Add Project";
    Layout = "DashboardLayout";
}

<h2>Add New Project</h2>
<br/>
@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    @Html.Label("Place")
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ProjectName)
    <br/>
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.ProjectDetails, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ProjectDetails)
    <br/>
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.ProjectDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ProjectDate)
    <br/>
    
    <button class="btn btn-info">Save</button>
}