@model DTOLayer.DTOs.ExperienceDTO

@{
    ViewBag.Title = "ResumeDemo - Edit Experience";
    Layout = "DashboardLayout";
}

<h2>Edit Experience</h2>
<br/>
@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ExperienceId, new { @class = "form-control" })
    
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.ExperienceTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ExperienceTitle)
    <br/>
    @Html.Label("Place")
    @Html.TextBoxFor(x => x.ExperiencePlace, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ExperiencePlace)
    <br/>
    @Html.Label("Details")
    @Html.TextAreaFor(x => x.ExperienceDetails,10,3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ExperienceDetails)
    <br/>
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.ExperienceDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ExperienceDate)
    <br/>
    <button class="btn btn-info">Update</button>
}
