@model List<DTOLayer.DTOs.EducationDTO>
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        @foreach (var item in Model)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@item.EducationPlace</h3>
                    <div class="subheading mb-3">@item.EducationTitle</div>
                    <div>@item.EducationDetails</div>
                    <p>GPA: @item.EducationMark</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@item.EducationDate</span></div>
            </div>
        }
    </div>
</section>