@model DTOLayer.DTOs.ContactDTO

@{
    ViewBag.Title = "ResumeDemo - Edit Contact";
    Layout = "DashboardLayout";
}

<h2>Edit Contact</h2>
<br/>
@using (Html.BeginForm("EditContact", "Contact", FormMethod.Post))
{
    
    @Html.HiddenFor(x => x.ContactId, new { @class = "form-control" })
    
    @Html.Label("Type")
    @Html.TextBoxFor(x => x.ContactType, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ContactType)
    <br/>
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.ContactLink, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ContactLink)
    <br/>
    <button class="btn btn-info">Update</button>
}